@import url(https://fonts.googleapis.com/css?family=Amiri);

:lang(ar) {
  font-family: "Amiri", serif;
  /* Scheherazade */
  /*font-size: 2.1em;
  line-height: 130%;*/
  /* Noto Sans Arabic */
  /*font-size: 1.5em;
  line-height: 115%;*/
  /* Markazi Text */
  font-size: 1.5em;
  line-height: 200%;
}
